@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Marcellus|DM+Sans');
html,

body {
  font-family: DM Sans, sans-serif;
  background-color: rgb(22, 22, 22);
  color: white;
}

.recipe-container {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}
