.picture-self {
    width: 300px;
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 1;
  }
  
  .bio-container {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    gap: 40px;
  }
  
  body {
    background-color: rgb#121212;
    font-family: DM Sans, sans-serif;
    color: white;
    opacity: 90%;
  }

  button {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: #121212;
   --button_outline_color: #F69B50;
   font-size: 17px;
   font-weight: bold;
   font-family: DM Sans, sans-serif;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
  }

  .button_top a {
    color: #F69B50;
  }

  .button_top[name="two"] a{
    color: #50F6BC;
  }

  .button_top[name="two"]{
    --button_outline_color: #50F6BC;
  }

  button[name="two"]{
    --button_outline_color: #50F6BC;
    margin: 10px;
  }
  
  .button_top[name="three"] a{
    color: #8AF650;
  }

  .button_top[name="three"]{
    --button_outline_color: #8AF650;
  }

  button[name="three"]{
    --button_outline_color: #8AF650;
  }
  
  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 1.5em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
  }