.picture {
    width: 300px;
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 1;
  }
  
  .bio-container {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    gap: 40px;
  }
  
  body {
    background-color: rgb#121212;
    font-family: DM Sans, sans-serif;
    color: white;
    opacity: 90%;
  }