@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Marcellus|DM+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    background: rgb(22, 22, 22);
    font-family: 'IBM Plex Mono', monospace;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    float: right;
}

.navbar li {
  margin-right: 10px;
}
.li{
  margin-right: 40px;
}

.picture {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
}

.picture:hover {
  filter: brightness(80%);
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  gap: 12px;
}

body {
  background-color: rgb(22, 22, 22);
  font-family: DM Sans, IBM Plex Mono, sans-serif;
  color: white;
  font-size:larger
}

.page-container {
  width: 80%;
  margin-top: 5rem;
  margin: auto;
}
