@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Syne|DM+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    background-color: rgb(22, 22, 22) !important;
    font-family: 'IBM Plex Mono', monospace;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    z-index: 1;
    overflow: hidden;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    opacity: 90%;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    float: right;
    opacity: 90%
}

.navbar li {
  margin-right: 10px;
}
.li{
  margin-right: 40px;
}

.picture {
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
}

.picture:hover {
  filter: brightness(80%);
  rotate: z 4deg;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  gap: 12px;
}

.picture-container p {
  color: white;
}

body {
  background-color: rgb(22, 22, 22);
  font-family: DM Sans, IBM Plex Mono, sans-serif;
  color: white;
  font-size:larger;
  opacity: 90%;
}

.page-container {
  width: 80%;
  margin-top: 5rem;
  margin: auto;
}


.label {
  font-size: smaller;
  font-family: IBM Plex Mono, monospace;
}

.hover-title {
  display: inline;
  pointer-events: auto;
  cursor: pointer;
}

.hover-image {
  visibility: hidden;
}

body:not(.mobile) .hover-title:hover + .hover-image {
  visibility: visible;
  pointer-events: none;
}

.hover-image {
  display: flex;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

/* Change width and height to scale images */
  width: 50vw;
  height: 50vh;
}

.hover-image img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0;
}