@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Marcellus|DM+Sans');
.picture {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}

.bio-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  gap: 12px;
}

body {
  background-color: rgb(22, 22, 22);
  font-family: DM Sans, sans-serif;
  color: white;
}
